<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SalesApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.SalesApp.RestoreAccount" />
        <activity android:name="com.example.SalesApp.InitializeApp" />
        <activity android:name="com.example.SalesApp.AdminPanel" />
        <activity android:name="com.example.SalesApp.RequestAccount" />
        <activity android:name="com.example.SalesApp.AddToCart" />
        <activity android:name="com.example.SalesApp.CheckOut" />
        <activity android:name="com.example.SalesApp.RequestToSell" />
        <activity android:name="com.example.SalesApp.RemoveFromCart" />
        <activity android:name="com.example.SalesApp.ViewInventory" />
        <activity android:name="com.example.SalesApp.Restock" />
        <activity android:name="com.example.SalesApp.MakeEmployee" />
        <activity android:name="com.example.SalesApp.MakeCustomer" />
        <activity android:name="com.example.SalesApp.CustomerMenu" />
        <activity android:name="com.example.SalesApp.EmployeePanel" />
        <activity android:name="com.example.SalesApp.ViewActiveAccounts" />
        <activity android:name="com.example.SalesApp.ViewInactiveAccounts" />
        <activity android:name="com.example.SalesApp.ViewBooksAdmin" />
        <activity android:name="com.example.SalesApp.AdminPromote" />
        <activity android:name="com.example.SalesApp.LoginPage" />
        <activity android:name="com.example.SalesApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>